.header{
    display : flex;
    justify-content: space-between;
    margin : 10px;
    border : 1px solid black;
    height: 100px;
}

.header > img {
    width : 150px;
}

.header > ul {
    display : flex;
    list-style-type: none;
    padding : 1px;
}

.header > ul >li {
    margin : auto;
    padding : 5px;
    
}

.cards {
    width : 200px; 
    border: 1px solid black;
    padding : 10px;
    margin : 20px;
}
.cards > img {
    width : 100%;
}

.body{
    display : flex;
     /* padding : 20px; */
     /* border : 1px solid black; */
     /* flex-wrap: wrap; */
 }

 .search {
    display: flex; 
    align-items: center; 
    justify-content: right;
    position: right;
    margin-bottom: 20px; 
  } 
  
 .search input[type="search"] {
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 16px;
    color: #333;
    outline: none;
  } 
  
  .search input[type="search"]::placeholder {
    color: #999;
  }
   